.expandable .label .disclosure {
  border: 5px solid transparent;
  border-left-color: black;  
}
.expandable.expanded .label .disclosure {
  border: 5px solid transparent;
  border-top-color: black;  
}
