.button_container {
  -webkit-perspective: 800px;
}

button {
  -webkit-transform: rotateX(30deg);  
  -webkit-transform-style: preserve-3d;
}

button:after {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-color: #3F4D59;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: top;
}

.button_container:hover button {
  -webkit-transform: rotateX(30deg) translateZ(10px);
}
.button_container:hover button:after {
  -webkit-transform: rotateX(-90deg) scaleY(2);  
}

.button_container:active button {
  -webkit-transform: rotateX(30deg) translateZ(-10px);
}
.button_container:active button:after {
  -webkit-transform: rotateX(-90deg) scaleY(0);  
}
