.people_container {
  -webkit-perspective: 800px;
}
.person .photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.person .photo,
.person .bio {
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-out;
}
.person .bio {
  -webkit-transform: rotateY(180deg);
}

.person:hover .photo {
  -webkit-transform: rotateY(-180deg);
}
.person:hover .bio {
  -webkit-transform:rotateY(0);
}
