#nav li > a {
  -webkit-transition: -webkit-transform 0.15s ease-out;
}
#nav li > a:hover {
  -webkit-transform: translateX(15px);
}

.expandable .label .disclosure {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin-right: 5px;

  overflow: hidden;
}
.expandable .label .disclosure:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: black;

  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: top left;
}
.expandable .content {
  display: none;
}
.expandable.expanded .label .disclosure {
  -webkit-transform: rotate(90deg);
}
.expandable.expanded .content {
  display: inherit;
}

.button_container {
  -webkit-perspective: 800px;
}
.button {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.25s;
}
.button_bottom {
  width: 100%;
  height: 10px;
  background-color: black;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: top;

  -webkit-transition: -webkit-transform 0.25s;
}

.button_container:hover .button {
  -webkit-transform: rotateX(30deg);  
}
.button_container:active .button {
  -webkit-transition-duration: 0.1s;
  -webkit-transform: rotateX(30deg) translateZ(-10px);
}
.button_container:active .button_bottom {
  -webkit-transition-duration: 0.1s;
  -webkit-transform: rotateX(-90deg) scaleY(0.5);
}

.people_container {
  -webkit-perspective: 800px;
}
.person .photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.person .photo,
.person .bio {
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-out;
}
.person .bio {
  -webkit-transform: rotateY(180deg);
}

.person:hover .photo {
  -webkit-transform: rotateY(-180deg);
}
.person:hover .bio {
  -webkit-transform:rotateY(0);
}

