.expandable .label .disclosure {
  -webkit-transform-origin: left;
  -webkit-transition: -webkit-transform 0.15s ease-out;
}
.expandable.expanded .label .disclosure {
  -webkit-transform: rotate(90deg);
}
